@import '../../node_modules/materialize-css/sass/materialize.scss';

body
    margin: 0
    padding: 0
.game-cabecera
    margin-bottom: 12px
.jugador--id
    background: #ffebee
    border-radius: 30px 30px
    margin: 0 auto
    padding: 6px 4px
    width: 300px
.material-icons 
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
.victories
    display: table
    width: 100%
    li
        display: table-cell
        table-layout: fixed
        text-align: center
        i
            width: 24px
.jugador-name
    text-align: center
    small
        display: block
.section
    border-top: 1px solid white
    margin-top: 15px
main
    font-family: 'Open Sans',sans-serif
    text-align: center
    h1
        color: #9fa8da
    .game-board
        background: white
        box-sizing: border-box
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.49)
        padding: 15px 12px
        margin: 0 auto
        width: 390px 
        .board
            background: #e0e0e0
            overflow: hidden
            margin: 0
            padding: 0
            width: 100%
            li
                background: white
                cursor: pointer
                float: left
                margin: 1px
                width: 120px
                height: 120px
                &.inactive
                    pointer-events: none
                &:hover
                    background: #e8eaf6
                    transition: background 1s ease
                svg
                    display: block
                    margin: 10px auto 0 auto
                    &.icon--x
                        display: none
                        width: 90%
                        line
                            fill: none
                            stroke: #FF0000
                            stroke-width: 30
                            stroke-linecap: round
                            stroke-miterlimit: 10
                            stroke-dasharray: 150
                            stroke-dashoffset: 150
                        &.active
                            display: block
                            .trazo--1
                                -webkit-animation: animacion--x .8s forwards
                            .trazo--2
                                -webkit-animation: animacion--x .5s forwards
                                -webkit-animation-delay: .8s
                    &.icon--y
                        display: none
                        margin-top: 0
                        circle
                            fill: none
                            stroke: #C0C7D0
                            stroke-width: 20
                            stroke-linecap: round
                            stroke-miterlimit: 10
                            stroke-dasharray: 310
                            stroke-dashoffset: 310
                        &.active
                            display: block
                            circle
                                -webkit-animation: animacion--y .8s forwards

@-webkit-keyframes animacion--x 
    0%
        stroke-dashoffset: 150
    100% 
        stroke-dashoffset: 0
@-webkit-keyframes animacion--y 
    0%
        stroke-dashoffset: 310
    100% 
        stroke-dashoffset: 0