@import '../../node_modules/materialize-css/sass/materialize.scss';

body
    margin: 0
    padding: 0
.game-cabecera
    margin-bottom: 12px
.jugador--id
    background: #ffebee
    border-radius: 30px 30px
    margin: 0 auto
    padding: 6px 4px
    width: 300px
.material-icons 
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
.victories
    display: table
    width: 100%
    li
        display: table-cell
        table-layout: fixed
        text-align: center
        i
            width: 24px
.jugador-name
    text-align: center
    small
        display: block
.section
    border-top: 1px solid white
    margin-top: 15px
main
    font-family: 'Open Sans',sans-serif
    text-align: center
    h1
        color: #9fa8da
    .game-board
        background: white
        box-sizing: border-box
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.49)
        padding: 15px 12px
        margin: 0 auto
        width: 390px 
        .board
            background: #e0e0e0
            overflow: hidden
            margin: 0
            padding: 0
            width: 100%
            li
                background: white
                cursor: pointer
                float: left
                margin: 1px
                width: 120px
                height: 120px
                &:hover
                    background: #e8eaf6
                    transition: background 1s ease
