<!DOCTYPE html>
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title TIC TAC TOE GAME

        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet')
        link(href='css/tictac.min.css', rel='stylesheet', media='screen,projection')
    body.indigo.lighten-5
        main
            h1 TIC TAC TOE
            section.game-board
                ul.board
                    for i in [1,2,3,4,5,6,7,8,9]
                        li

        script(src='//code.jquery.com/jquery-3.2.1.min.js')