<!DOCTYPE html>
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title TIC TAC TOE GAME

        link(href='//fonts.googleapis.com/css?family=Roboto|Open+Sans+Condensed:300|Material+Icons' rel='stylesheet')
        link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
        link(href='css/tictac.min.css', rel='stylesheet', media='screen,projection')
    body.brown.lighten-4
        header.game-cabecera
            nav
                div.nav-wrapper
                    a(href="#").brand-logo TIC TAC TOE
                    ul#nav-mobile.right.hide-on-med-and-down
                        li: a(href="#") JavaScript
        main.container
            section.row
                .col.s12.m6
                    .col.s12
                        .jugador--id
                            h5 JUGANDO:
                                span PLAYER 1
                    .col.s12.section
                        .col.s12
                            h6.jugador-name Player 1
                                small Victorias
                            i.fa.fa-times
                            ul.victories
                                li: i.material-icons star_rate
                                li: i.material-icons star_rate
                                li: i.material-icons star_rate
                        .col.s12
                            h6.jugador-name Player 2
                                small Victorias
                            i.fa.fa-circle-o
                            ul.victories
                                li: i.material-icons star_rate
                                li: i.material-icons star_rate
                                li: i.material-icons star_rate
                .col.s12.m6
                    .game-board
                        ul.board
                            for i in [1,2,3,4,5,6,7,8,9]
                                if(i%2)
                                    li.mark-o
                                else
                                    li.mark-x

        script(src='//code.jquery.com/jquery-3.2.1.min.js')